
{% extends "main_templates/base.html" %}
{% load static %}
{% load goods_tags %}


{% block css %}
<link rel="stylesheet" href="{% static "deps/css/catalog.css" %}">
{% endblock %}

{% block content %}
        <main class="main">
            <section class="products-page">
                <div class="container-fluid">
                    <div class="main-wrapper">
                        <div class="row">

                            <div class="category-menu col-3">

                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                Тип устройства
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">

                                                {% for category in categories_in_catalog %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="categories_name"
                                                        id="flexRadioDefault1" value="default" checked>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        {{ category.name }}
                                                    </label>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Бренд
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div class="list-group">

                                                    {% for brand in brands %}
                                                    <label class="list-group-item">
                                                        <input class="form-check-input me-1" type="checkbox" value="">
                                                        {{ brand.name }}
                                                    </label>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                                Количество полюсов
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingThree"
                                            data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                
                                                {% for pole in product_quantity_of_poles %}
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    {{ pole.value }}
                                                </label>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>


                                   <div class="accordion-item">

                                        <h2 class="accordion-header" id="flush-headingFour">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                                aria-expanded="false" aria-controls="flush-collapseFour">
                                                Номинальный ток
                                            </button>
                                        </h2>

                                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">

                                                {% for amp in product_rated_amperage %}
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    {{ amp.value }}
                                                </label>
                                                {% endfor %}


                                            </div>
                                        </div>

                                    </div>

                                    <div class="accordion-item">

                                        <h2 class="accordion-header" id="flush-headingFive">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                                                aria-expanded="false" aria-controls="flush-collapseFive">
                                                Номинальное напряжение
                                            </button>
                                        </h2>

                                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                
                                                {% for volt in product_rated_voltage %}
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    {{ volt.value }}
                                                </label>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">

                                        <h2 class="accordion-header" id="flush-headingSix">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                                                aria-expanded="false" aria-controls="flush-collapseSix">
                                                Тип тока
                                            </button>
                                        </h2>

                                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">

                                                {% for amp_type in product_amperage_type %}
                                                <label class="list-group-item">
                                                    <input class="form-check-input me-1" type="checkbox" value="">
                                                    {{ amp_type.value }}
                                                </label>
                                                {% endfor %}

                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>

                            <div class="main-board-products col-9">
                                <div class="row">

                                    <div class="dropdown">
                                        <button class="btn btn-success dropdown-toggle btn-success" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Фильтры
                                        </button>

                                        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_category %}{% endif %}" method="get" class="dropdown-menu bg-Light">
                                            <p class="mx-3 mt-3">Сортировать:</p>
                                            <div class="form-check mx-3">
                                                <input class="form-check-input" type="radio" name="order_by"
                                                    id="flexRadioDefault1" value="default"
                                                    {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                                                    {% if request.GET.q %}
                                                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                    {% endif %}
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    По умолчанию
                                                </label>
                                            </div>
                                            <div class="form-check mx-3">
                                                <input class="form-check-input" type="radio" name="order_by"
                                                    id="flexRadioDefault2" value="price"
                                                    {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Сначала дешевые
                                                </label>
                                            </div>
                                            <div class="form-check mx-3">
                                                <input class="form-check-input" type="radio" name="order_by"
                                                    id="flexRadioDefault3" value="-price"
                                                    {% if request.GET.order_by == "-price" %}checked{% endif %}>
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    Сначала дорогие
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-success mx-3 mt-3">Применить</button>
                                        </form>
                                    </div>
                                    

                                    {% if request.GET.q %}
                                        <h2 class="text-center main-title"><span>Результаты поиска: {{ request.GET.q }}</span></h2>
                                    {% if not goods %}
                                        <h2 class="text-center main-title">Нет результатов</span></h2>
                                    {% endif %}
                                    {% endif %}

                                    {% for product in goods %}
                                    <div class="col-lg-4 col-md-6 py-3">
                                        <div class="card" style="width: 18rem;">
                                            {% if product.image %}
                                            <img src="{{ product.image.url }}" class="card-img-top"
                                                alt="{{ product.name}}">
                                            {% else %}
                                            <img src="{% static "deps/img/Not found image.png" %}" class="card-img-top"
                                                alt="...">
                                            {% endif %}
                                            <div class="card-body">
                                                <a href="{% url "catalog:product" product.slug %}">
                                                    <p class="card-title"><b>{{ product.name|truncatechars:25 }}</b></p>
                                                </a>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">{{ product.description|truncatechars:35 }}</li>
                                                <li class="list-group-item">Артикул: {{ product.article }}</li>
                                                <li class="list-group-item">Бренд: {{ product.brand_id }}</li>
                                                <li class="list-group-item">Цена: {{ product.price }} тенге</li>
                                            </ul>
                                            <div class="card-body">
                                                <a href="{% url "catalog:product" product.slug %}" class="card-link"><b>Перейти к товару</b></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                
                            {% if goods %}
                                <nav aria-label="page-navigation">
                                    <ul class="pagination justify-content-center my-3">
                                        <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                                            <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}#{% endif %}">Предыдущая</a>
                                        </li>

                                        {% for page in goods.paginator.page_range %}
                                        {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                                        <li class="page-item {% if goods.number == page %}active{% endif %}">
                                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                        <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                                            <a class="page-link" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                                        </li>
                                    </ul>
                                </nav>
                            {% endif %}


                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}