{% extends "main_templates/base.html" %}

{% load static %}

{% block content %}
<main class="main">
    <section class="product_card">
        <div class="container-fluid">
            <div class="main-wrapper ">

                <div class="board-card d-flex justify-content-center">
                    <div class="card mb-3" style="max-width: 920px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid rounded-start"
                                    alt="{{ product.name }}">
                                {% else %}
                                <img src="{% static "deps/img/Not found image.png" %}" class="card-img-top"
                                alt="...">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Артикул: {{ product.article }}</li>
                                    <li class="list-group-item">Бренд: {{ product.brand_id }}</li>
                                    <li class="list-group-item">Цена: {{ product.price }}</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}
