{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/users.css" %}">
{% endblock %}



{% block content %}
<main class="main">

    <section class="products">
        <div class="container fluid">
            <div class="main-wrapper">
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    <div class="row">
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">


                                    <div class="card-body">
                                        <div class="card-title nth-card-title">
                                            <h4>Установить новый пароль</h4>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit" class="btn btn-block">Подтвердить</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock content %}