
{% extends "base.html" %}
{% load cache %}
{% load static %}
{% load goods_tags %}

{% block content %}
<main class="main">

    <!--Начало секции категории товаров-->
    <section class="products">
        <div class="container fluid">
            <div class="main-wrapper">
                <div class="container main-products">
                    <h2 class="text-center main-title"><span>Товары</span></h2>

                    <div class="row table-category">

                        {% categories_tag as categories %}
                        {% for category in categories %}                        
                        <div class="col-md-3 category">
                            
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" class="img-fluid" alt="">
                                {% endif %}
                                <p>{{category.name}}</p>
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Конец секции категории товаров-->

    <!--Начало секции бренды-->
    <section class="brands">
        <div class="container fluid">
            <div class="main-wrapper">
                <div class="brands-names">
                    <h2 class="text-center main-title"><span>Бренды</span></h2>


                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% cache 3600 brands_main_page %}
                            {% for brand in brands %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            {% if brand.image %}
                                <img src="{{ brand.image.url }}" class="d-block w-100 img-fluid" alt="...">
                            {% endif %}
                            </div>
                            {% endfor %}
                            {% endcache %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!--Конец секции бренды-->

    <!--Начало секции контакты-->
    <section class="contacts" id="contact-link">
        <div class="container fluid">
            <div class="main-wrapper">
                <div class="container-contacts">
                    <h2 class="text-center main-title"><span>Контакты</span></h2>

                    <div class="contacts-wrapper">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex phones">
                                    <div class="icon py-4">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="numbers">
                                        <a href="tel:+77273748313">+7 (727) 374 83 13</a><br>
                                        <a href="tel:+77017699110">+7 (701) 769 91 10</a><br>
                                        <a href="tel:+77021021212">+7 (702) 102 12 12</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mail-inst">
                                    <div class="d-flex justify-content-center container-mail">
                                        <div class="icon">
                                            <i class="fa-solid fa-envelope"></i>
                                        </div>
                                        <a href="#">electronstart@mail.ru</a>
                                    </div>
                                    <div class="d-flex justify-content-center container-inst">
                                        <div class="icon">
                                            <i class="fa-brands fa-instagram"></i>
                                        </div>
                                        <a href="#">@electron.start</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex justify-content-end adreess">
                                    <div class="icon">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <p>г.Алматы, ул. Тургут Озала 103"Б"</p>
                                </div>
                            </div>
                        </div>

                        <div class="map py-3">
                            <iframe
                                src="{{ google_maps_iframe }}"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Конец секции контакты-->

</main>
{% endblock %}




